<h1>メモ編集</h1>
<% @memo = JSON.load(@file) %>
<form  action="/memos/<%= @memo["id"] %>" method="post">
  <div class="bg-light border border-info p-2">
    <div class="form-group">
      <label for="title">タイトル</label>
      <input class="form-control" id="title" type="text" name="title" value=<%= @memo["title"] %>>
    </div>
    <div class="form-group">
      <label for="content">内容</label>
      <textarea class="form-control" id="content" name="content"><%= @memo["content"] %></textarea>
    </div>
  </div>
  <input type="hidden" name="_method" value="patch">
  <button class="bg-light btn-outline-dark rounded m-2 px-3 py-2" type="submit">保存</button>
</form>
