<h1>メモ一覧</h1>
<div class="bg-light border border-info">
  <ul>
    <% @results.each do |result| %>
      <li class="my-2">
        <a class="title" href="../memos/<%= result["id"] %>"><%= result["title"] %></a>
      </li>
    <% end %>
  </ul>
</div>
<form action="/new" method="get">
  <button class="btn btn-outline-dark m-2" type="submit">追加</button>
</form>

